.fullArticleContainer {
  display: grid;
  width: 100%;
  align-content: center;
  background-color: var(--primary-color);
  border-radius: 8px;
}

.fullArticleContent {
  display: grid;
  margin: 0 2rem;
}

.btnBack {
  align-self: center;
}

.viewReddit {
  text-align: right;
  text-decoration: none;
  margin: 0 4rem 2rem;
}

.btnBack,
.btnComments {
  display: inline-block;
  max-width: fit-content;
  color: var(--primary-color);
  border-radius: 10px;
  background-color: var(--green);
  font-size: 1.5rem;
  padding: 4px 16px;
}

.btnComments {
  margin: 2rem auto 2rem 0;
}

.authorInfoContainer {
  display: grid;
  margin-left: 4rem;
}

.infoLinks {
  text-decoration: none;
  color: black;
}

.fullArticleBottomContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.counter {
  margin-right: 2rem;
}

ul {
margin: 0;
padding: 0;
}

li {
  list-style: none;
}

.commentsContainer {
  padding: 0;
  margin: 2rem 2rem;
  background-color: var(--primary-color);
  border-radius: 1rem;
  padding: 1rem;
  max-width: 100vw;
  word-break: break-word;
  overflow-wrap: anywhere;
}

h1 {
  margin: 0 4rem 1rem;
  text-align: left;
  color: var(--font-clr);
}

p {
  text-align: start;
  margin: 0;
  color: var(--font-clr);
}

.author {
  font-weight: bold;
}
