.fullArticleContainer {
  display: grid;
  justify-content: center;
  background-color: var(--primary-color);
  border-radius: 2rem;
  margin: 2rem;
}

.btnBack {
  margin: 2rem auto 1rem 4rem;
  }

.viewReddit {
  text-align: right;
  text-decoration: none;
  margin: 0 4rem 2rem;
}

.imageContainer {
  max-width: 100%;
  height: auto;
  margin: 0 2rem;
  background-color: black;
  border-radius: 2rem;
}

.articleImage {
  box-sizing: border-box;
  max-width: 100%;
  margin: 0 auto;
  border-radius: 2rem;
}

.linkContainer {
  display: grid;
  justify-content: center;
}

.linkThumbnail {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.linkButton {
  text-decoration: none;
  margin: 0.25rem auto;
  color: black;
  border-radius: 10px;
  background-color: var(--accent-color);
  font-size: 0.75rem;
  padding: 4px 8px;
}

.linkButton:hover {
  color: white;
}

.btnBack,
.btnComments {
  display: inline-block;
  max-width: fit-content;
  color: var(--primary-color);
  border-radius: 10px;
  background-color: var(--accent-color);
  font-size: 1.5rem;
  padding: 8px 24px;
}

.btnComments {
  margin: 2rem auto 2rem 0;
}

.authorInfoContainer {
  display: grid;
  margin-left: 4rem;
}

.infoLinks {
  text-decoration: none;
  color: black;
}

:global(.swiper-button-prev),
:global(.swiper-button-next) {
  color: var(--accent-color);
  font-size: 1rem;
  background-color: white;
  padding: 30px;
  border-radius: 50%;
  transform: scale(0.75);
}

:global(.swiper-button-prev:hover),
:global(.swiper-button-next:hover) {
  background-color: var(--accent-color);
}

:global(.swiper-pagination) {
  bottom: 10px;
  text-align: center;
}

:global(.swiper-pagination-bullet) {
  background-color: var(--accent-color);
  width: 12px;
  border-radius: 50%;
  margin: 0 20px;
  opacity: 0.7;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

:global(.swiper-pagination-bullet-active) {
  background-color: var(--active-color);
  opacity: 1;
  transform: scale(1.2);
}

:global(.swiper-pagination-bullet:hover) {
  background-color: var(--accent-color);
  opacity: 1;
  transform: scale(1.2);
}

.fullArticleBottomContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.counter {
  margin-right: 2rem;
}

ul {
margin: 0;
padding: 0;
}

li {
  list-style: none;
}

.commentsContainer {
  padding: 0;
  margin: 2rem 2rem;
  background-color: var(--primary-color);
  border-radius: 1rem;
  padding: 1rem;
  max-width: 100vw;
  word-break: break-word;
  overflow-wrap: anywhere;
}

h1 {
  margin: 0 4rem 1rem;
  text-align: left;
  color: var(--font-clr);
}

p {
  text-align: start;
  margin: 0;
  color: var(--font-clr);
}

.author {
  font-weight: bold;
}
