.subredditSidebar {
  top: 0;
  position: sticky;
  min-width: fit-content;
  z-index: 0;
}


.subredditList {
  background-color: #f8f9fa; /* Light gray */
  padding: 10px;
  border-radius: 0.375rem;
  z-index: 0;
}

.subBtn {
  background-color: var(--accent-color);
  border-radius: 8px;
  display: none;
}

@media only screen and (max-width: 600px) {
  .subBtn {
    display: inline-block;
  }
  .subredditSidebar {
    display: none;
  }
}
