.headerContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: sticky;
  top: 0;
  background: linear-gradient(135deg, var(--reddish-light), var(--reddish), var(--reddish-dark));
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 2;
  margin-bottom: 2rem;
  border-radius: 0 0 8px 8px;
}

h1 {
  margin: 2rem 4rem;
  align-self: center;
  padding: 1rem;
  margin: 0;
}

.searchBar {
  max-width: 100%;
  justify-self: center;
  align-self: center;
  margin: 2rem 3rem;
}

.reddish {
  height: 150px;
  justify-self: right;
  padding: 1rem;
}
