.headerContainer {
  display: grid;
  position: sticky;
  top: 0;
  background-color: var(--primary-color);
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 1;
  margin-bottom: 2rem;
}

h1 {
  margin: 2rem 4rem;
}

.searchBar {
  max-width: 35%;
  justify-self: end;
  margin: 2rem 3rem;
}
